Binaries
CodeContracts
bin
obj
Installer/Content/
Packaged
StyleCop.Cache
SourceAnalysis.Cache
.noReferenceAssembly
.cachefile
.Contracts.dll
*vshost*
*csproj.user
*.suo
*.psess
*.lastcodeanalysissucceeded
*.vspx
*.cachefile
.vs

Compiled/Release/*.dll
Compiled/Release/*.exe
Compiled/Release/*.xml
Compiled/Release/*.pdb
Compiled/Release/Content/Updater/*.exe
Compiled/Release/Content/Updater/*.pdb
Compiled/Release/Content/Updater/*.exe.config

Content/BlackCrown_ContentProject/Atom*.*
Content/BlackCrown_ContentProject/Tools.RecipeProcessor.*
Content/BlackCrown_ContentProject/ZeldasLibrary.*