<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Zelda.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Zelda.Properties.Settings>
            <setting name="MusicEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SoundEffectsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsRubyDisplayCountShownPermanently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSavedProfile" serializeAs="String">
                <value />
            </setting>
            <setting name="Width" serializeAs="String">
                <value>360</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="MasterVolume" serializeAs="String">
                <value>1</value>
            </setting>
        </Zelda.Properties.Settings>
    </userSettings>
</configuration>
